body {
  margin: 0;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: #539aac;
  font-family: arial;
}

.center{
  font-size: 40px; 
  color: white;
  text-align: center;
  line-height: 0;
}

h6{
  font-size: 7px;
  color: white;
  display: inline-block;
  border:0.5px solid white;
  padding: 5px;
  text-align: center;
}

div{
  text-align: center;
  }

p{
 font-size: 7px;
 line-height: 7
}

#top{
  color: white;
  position: relative;
  top: -20px;
}

